.tdn{
    text-decoration: none;
}

.cursor{
    cursor: pointer;
    color: white;
    padding-right: 1vw;
}

.container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(102, 98, 98);
}

.toolbar{
    background-color: #fff;
}

.nav{
    background-color: #272727;
    display: flex;
    justify-content: space-between;
}