.tdn{
    text-decoration: none;
}

.cursor{
    cursor: pointer;
    color: white;
    padding-right: 1vw;
}

.container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(102, 98, 98);
    
}

.toolbar{
    background-color: #fff;
}

/* Estilização computadores */
.nav{
    background-color: #272727;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrap{
    display: flex;
}

/* Estilização celular */
@media screen and (max-width: 600px){
    .wrap{
        flex-direction: column;
    }
    .nav{
        background-image: url(../../../assets/img/imgNavbar.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        flex-direction: column;
        justify-content:space-evenly;
        height: 100vh;
    }
    .margin10{
        margin: 10px;
    }
    .cursor{
        text-align: center;
        color: #161616;
        margin-bottom: 40px;
        background-color: rgba(255, 255, 255, 0.911);
        padding: 10px;
        border-radius: 20px;
    }
    .texto-navbar{
        font-size: 22px !important;
        font-weight: bold !important;
    }
}