.imagens{
    /* Centralizando imagem */
    display: block;
    margin: 0 auto;
}

.tdn{
    text-decoration: none;
}

.color-black{
    background-color: rgb(48, 47, 47);
}

.caixa{
    background-color: gainsboro; 
}

.botao{
    border-color: white !important;
    background-color: #3F51B5;
    color: white !important;
}

.postagens{
    background-color: white;
}

/* Itens responsivos */

.bemvindo{
    border-radius: 90px;
    background-color: rgb(239, 239, 239);
    height: 70vh;
}

.texto-home{
    padding-top: 20vh;
    padding-left:20px ;
    padding-right:20px ;
}

/* Responsivando itens */
@media screen and (max-width: 600px){
    .bemvindo{
        height: 80vh;
        min-width: 90vw;
    }
}