.titulo{
    color: white;
    font-weight: bold !important;
}

.imagens{
    /* Centralizando imagem */
    display: block;
    margin: 0 auto;
}

.caixa{
    background: linear-gradient(45deg, rgb(153, 151, 151), rgb(61, 61, 61)); 
}

.botao{
    border-color: white !important;
    background-color: #3F51B5;
    color: white !important;
}

.postagens{
    background-color: white;
}

.bemvindo{
    height: 100vh;
}